<ul id='episode_navigation'>
  <% @episode.pagination.each do |episode| %>
    <li class='<%= episode.class %> episode_page' data-id='<%= episode.id %>'>
      <%= link_to episode.label, episode_path(episode.id) %>
    </li>
  <% end %>
  <li>Jump to episode:
    <%= form_tag(find_episodes_path) do |f| %>
      <%= text_field_tag 'find_episode_id', nil%>
    <% end %>
  </li>
</ul>
