<% if @episode.has_recommendations? %>
  <% @episode.hosts.each do |host| %>
    <article class='host <%= cycle("span#{(12/@episode.hosts.count).round}","span#{(12/@episode.hosts.count).round}") %>'>
      <h1><%= link_to host.name, host_path(host.id) %></h1>
      <% recommendations =  Recommendations.by_host(host).by_episode(@episode).all.to_a %>
      <%= render :partial => "/recommendations/recommendation", :collection => recommendations %> 
    </article>
  <% end %>
<% else %>
    <article class='no_recommendations span12'>
      No recommendations for this episode.
    </article>
<% end %>
<%= hidden_field_tag 'next_previous_episode', episode_path(@next_previous_episode.id) %>
<%= hidden_field_tag 'next_subsequent_episode', episode_path(@next_subsequent_episode.id) %>
