<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "The Flop House Recommends" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class='page-header' role='banner'>
      <h1><%= link_to "The Flop House Recommends", root_path %></h1>
    </header>
    <%= render "shared/navigation" %>
    <div class='container-fluid'>
      <div class='row-fluid'>
        <aside class="span2 offset1" role='complementary'>
          <p><%= link_to "The Flop House Podcast", "http://www.flophousepodcast.com/"  %> recommends movies at the end of every episode. This site lists all of their recommendations.</p>
          <ul>
            <li>Click on a title or movie poster to go to IMDB.</li>
            <li>Click on a hosts's name to see all the movies s/he has recommended.</li>
            <li>Click on the recommendation count to see all the times that movie has been recommended.</li>
            <li>Click on an episode number (or use the left/right arrow keys) to move between episodes.</li>
          </ul>
        </aside>
        <article role='main' class='span9'>
          <%= yield %>
        </article>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
