<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "The Flop House Recommends" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="main" role="main">
      <header class='page-header'>
        <h1><%= link_to "The Flop House Recommends", root_path %></h1>
      </header>
      <%= render "shared/navigation" %>
      <article class='container-fluid'>
        <div class='row-fluid'>
          <%= render "/shared/about" %>
          <%= yield %>
        </div>
      </article>
    </div> <!--! end of #main -->
    <%= javascript_include_tag "application" %>
  </body>
  </html>
